 .search{
  box-shadow: 0 10px 8px rgba(0,0,0,0.1);
  
 }

 .head{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  
 }
 
 .mov-card{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: auto;
    margin-bottom: 5px;
  }
.image{
    width: 100%;
    border-radius: 4px;
}
.link{
  text-decoration: none;
  color: black;
}

.butn{
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.bu1{
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}